WCF_Self_Hosting/MTOM_MessageExchange/MtomServiceTest/MtomServiceTest/Service References/MtomService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MtomService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MtomService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileToDownload">
    <xs:sequence>
      <xs:element minOccurs="0" name="File" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileToDownload" nillable="true" type="tns:FileToDownload" />
  <xs:complexType name="IOFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IOFault" nillable="true" type="tns:IOFault" />
</xs:schema>