WCF_Self_Hosting/MTOM_MessageExchange/MtomServiceTest/MtomServiceTest/Service References/MtomService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ESoft.EServices/MtomService" elementFormDefault="qualified" targetNamespace="http://ESoft.EServices/MtomService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MtomService" />
  <xs:element name="GetFileData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MtomService" minOccurs="0" name="GetFileDataResult" nillable="true" type="q1:FileToDownload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>