WCF_IIS_Hosting/WCFCodeConfiguration/Postal.Catagalog.MvcClient/Connected Services/PostalZipProxy/PostalZipCodeManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.goPostal.com/postalServices" elementFormDefault="qualified" targetNamespace="http://www.goPostal.com/postalServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="echo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZipCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZipCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetZipCodeResult" nillable="true" type="tns:ZipCodeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ZipCodeData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PostalDataBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ZipCodeData" nillable="true" type="tns:ZipCodeData" />
  <xs:complexType name="PostalDataBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostalDataBase" nillable="true" type="tns:PostalDataBase" />
  <xs:complexType name="ZipCityData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PostalDataBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsPrimaryState" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ZipCityData" nillable="true" type="tns:ZipCityData" />
  <xs:element name="GetZipsByState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZipsByStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetZipsByStateResult" nillable="true" type="tns:ArrayOfZipCodeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfZipCodeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZipCodeData" nillable="true" type="tns:ZipCodeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZipCodeData" nillable="true" type="tns:ArrayOfZipCodeData" />
  <xs:element name="GetZipsForRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="range" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZipsForRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetZipsForRangeResult" nillable="true" type="tns:ArrayOfZipCodeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>