WCF_IIS_Hosting/WCFCodeConfiguration/Postal.Catagalog.MvcClient/Connected Services/PostalZipProxy/PostalZipCodeManager1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.goPostal.com/postalServices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PostalZipCodeManager" targetNamespace="http://www.goPostal.com/postalServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost/PostalServices/PostalZipCodeManager.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.goPostal.com/postalServices/Imports">
      <xsd:import schemaLocation="http://localhost/PostalServices/PostalZipCodeManager.svc?xsd=xsd0" namespace="http://www.goPostal.com/postalServices" />
      <xsd:import schemaLocation="http://localhost/PostalServices/PostalZipCodeManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPostalZipService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IPostalZipService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IPostalZipService_GetZipCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZipCode" />
  </wsdl:message>
  <wsdl:message name="IPostalZipService_GetZipCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZipCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPostalZipService_GetZipsByState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZipsByState" />
  </wsdl:message>
  <wsdl:message name="IPostalZipService_GetZipsByState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZipsByStateResponse" />
  </wsdl:message>
  <wsdl:message name="IPostalZipService_GetZipsForRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetZipsForRange" />
  </wsdl:message>
  <wsdl:message name="IPostalZipService_GetZipsForRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetZipsForRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="IPostalZipService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://www.goPostal.com/postalServices/IPostalServiceBase/Ping" message="tns:IPostalZipService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://www.goPostal.com/postalServices/IPostalServiceBase/PingResponse" message="tns:IPostalZipService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetZipCode">
      <wsdl:input wsaw:Action="http://www.goPostal.com/postalServices/IPostalZipService/GetZipCode" message="tns:IPostalZipService_GetZipCode_InputMessage" />
      <wsdl:output wsaw:Action="http://www.goPostal.com/postalServices/IPostalZipService/GetZipCodeResponse" message="tns:IPostalZipService_GetZipCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetZipsByState">
      <wsdl:input wsaw:Action="http://www.goPostal.com/postalServices/IPostalZipService/GetZipsByState" message="tns:IPostalZipService_GetZipsByState_InputMessage" />
      <wsdl:output wsaw:Action="http://www.goPostal.com/postalServices/IPostalZipService/GetZipsByStateResponse" message="tns:IPostalZipService_GetZipsByState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetZipsForRange">
      <wsdl:input wsaw:Action="http://www.goPostal.com/postalServices/IPostalZipService/GetZipsForRange" message="tns:IPostalZipService_GetZipsForRange_InputMessage" />
      <wsdl:output wsaw:Action="http://www.goPostal.com/postalServices/IPostalZipService/GetZipsForRangeResponse" message="tns:IPostalZipService_GetZipsForRange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="PostalZipCodeManager">
    <wsdl:port name="WSHttpBinding_IPostalZipService" binding="i0:WSHttpBinding_IPostalZipService">
      <soap12:address location="http://localhost/PostalServices/PostalZipCodeManager.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/PostalServices/PostalZipCodeManager.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <X509Data>
              <X509Certificate>MIICrDCCAZSgAwIBAgIQJoSDvitMhrxHYXPoEIGK2zANBgkqhkiG9w0BAQUFADASMRAwDgYDVQQDEwdFcmljLVBDMB4XDTE3MTIwNDA3MDAwMFoXDTI3MTIxMTA3MDAwMFowEjEQMA4GA1UEAxMHRXJpYy1QQzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMS9hIcVjRTindqhn4VAVsevPPYcHN+sFPKaExA/qUsW9SPR7lFsHWPXiVmqNlCIk9JR/D7G5op8ym2XdmoRedgXXwo17uH0tIO176Jem8EuMoWi164ZKOIarcf7njW6Zf4QaeV0oUyjaBI213BqnzGQUkyCLbkhMcWpanJ2Ka39r+E8WV4We8SIK4dG5j9UwnK9tsYKVFamV/xo3Sm/zYniltGWTQkMvULKAprN2ZLJYyO06V+i6T9dk6q803sIxHkbkmaAzznjUALySpyB5NFv6GFLhQJrW8yYSC6MObMxojRgMCHLB9K9sL06e2J5thHqQDyTw1THKAR3rvoGROkCAwEAATANBgkqhkiG9w0BAQUFAAOCAQEAf3Q8IdZyPCVPgEERxSrCtKmjE9AlHePgZ4djHSGJX+laI4YdWqWSEryWs1Cq+q+kq8udHAVXa4RgaYxhQmIxhq9B9yf7qHDtoqytRsLkoEk6c9vX2HMxkRxQfELmjhLJyEz2RMvbKUS2WWQMofyw9qfLgmp0q13UaucnehzrDyrMtMVzo5er7jTeUFf5YdDdrMU82uF7f5T04rfH1ZseTZgV+6+98amCqgCZs8MaUSEdAwJT06xIqH0RO845SjKQyjuX1XmQCdHjHsTl5ttvzIViYfMIYXSLp3DR4GpYW1ipj4ZM3syZZtN1LA+qZdhbVBWCOJdh74CnC9AZK8a/Jg==</X509Certificate>
            </X509Data>
          </KeyInfo>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>