LumberYards/NorthEastLumberYard/Client/Service References/ToothPickService/ToothPickService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ESoft.EServices.ToothPickService" elementFormDefault="qualified" targetNamespace="http://ESoft.EServices.ToothPickService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/NorthEastLumberYard/ToothPickService.svc?xsd=xsd2" namespace="http://ESoft.EServices.ToothPickService.ToothPick" />
  <xs:import schemaLocation="http://localhost/NorthEastLumberYard/ToothPickService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetToothPickList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToothPickListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://ESoft.EServices.ToothPickService.ToothPick" minOccurs="0" name="GetToothPickListResult" nillable="true" type="q1:ArrayOfToothPick" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetIdentityInformationResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>