WCF_Self_Hosting/DataContract_DataMember_Serialization/EmployeeServiceTestClient/EmployeeServiceTestClient/Service References/EmployeeService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Esoft.Eservices.EmployeeService" elementFormDefault="qualified" targetNamespace="http://Esoft.Eservices.EmployeeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element name="HourlyPay" nillable="true" type="xs:int" />
      <xs:element name="Hours" nillable="true" type="xs:int" />
      <xs:element name="Salary" nillable="true" type="xs:int" />
      <xs:element name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>