WCF_Self_Hosting/MessageContracts/EmployeeServiceTestClient/EmployeeServiceTestClient/Service References/EmployeeService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Esoft.Eservices.EmployeeService" elementFormDefault="qualified" targetNamespace="http://Esoft.Eservices.EmployeeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.0.3:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeService" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EmployeeService" minOccurs="0" name="Type" type="q1:Employee.PayType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>