WCF_Self_Hosting/SeperateServiceFromContract/Client/Client/Service References/MtomService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ESoft.EServices.ServiceContracts" />
  <xs:element name="GetFileData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ESoft.EServices.ServiceContracts" minOccurs="0" name="GetFileDataResult" nillable="true" type="q1:FileToDownload" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>