WCF_Self_Hosting/CustomUserNameValidatorWithCert/Client/Client/Service References/ToothPickService/ESoft.EServices.ToothPickService.ToothPick.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ESoft.EServices.ToothPickService.ToothPick" elementFormDefault="qualified" targetNamespace="http://ESoft.EServices.ToothPickService.ToothPick" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfToothPick">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToothPick" nillable="true" type="tns:ToothPick" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToothPick" nillable="true" type="tns:ArrayOfToothPick" />
  <xs:complexType name="ToothPick">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="Flavor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoxCount" type="xs:int" />
      <xs:element minOccurs="0" name="BoxCost" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToothPick" nillable="true" type="tns:ToothPick" />
</xs:schema>